*{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 ,h3{
	color: #b92b27;
}
#login{
	color: blueviolet;
	background-color: rgb(206, 20, 20);
}
.boob{
	color: white;
	background-color: rgb(57, 175, 57);
}
.pap a{
	color: black;background-color: yellow;
}
nav ul li a{
	color: rgb(204, 100, 117);
}
p+h3{
	text-decoration: underline;
}
.boob +button{
	background-color: rgb(240, 73, 101);
}
div > input {
	background-color: darkcyan;
}
 /* attributes selector  in  */
input[type="text"]{
	color:  green;
}
input[type= "password"]{
	color: red;
}
input[type]{
	background-color: aliceblue;
}
button:hover{
	background-color: black;
	color: white;
}
h3:hover{
	text-decoration: overline;
}
button:active{
	background-color: pink;
}
p:active{
	font-weight: bold;
	color: green;
}
input[type="radio"]:checked + label{
	color : red;
	font-weight: bold;
}
/* #yes :checked{
color : red;
	font-weight: bold;
} */
 div:nth-of-type(1n){
	background-color: rgb(209, 142, 42);
 }