div{
	height: 230px;
	width: 700px;
	background-color: pink;
	border: 5px dashed black;
	border-left-color: blue ;
	border-left-style: double;
	border-radius: 20px;
	padding-left: 40px;
	margin-left : 50px;
	margin-top :50px ;
}
h1{
	border: 3px solid rgb(241, 18, 55);
	text-align: center;
	border-radius: 50%;
	
}
 button{
	border: 3px solid red;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: yellow;
	height: 30px;
	width: 100px;
	padding: 20px;
	padding-bottom:20px ;
 }