*{
	margin: 0px;
	padding: 0px;
	 font-family: "Poppins", sans-serif;
}
.container{
	background: url(photo.jpg);
	height: 100vh;
	background-size: cover ;

}
.btn_one i{
     color: rgb(255, 255, 255);
	 font-size: 30px;
	 font-weight: 700;
	 position: absolute;
	 line-height: 60px;
	 left: 10px;
}
.sidebar_menu{
	position: fixed;
	left:-300px ;
	height: 100vh;
	width: 300px;
	background-color: rgb(255, 255, 255,0.1)  ;
	box-shadow: 0px 0px 8px rgb(255, 255, 255,0.4) ;
	transition: all 0.3s linear;
}
.sidebar_menu .logo{
	position: absolute;
	width: 100%; 
	line-height:60px ;
	box-shadow: 0px 2px 4px rgb(255, 255, 255,0.4) ; 
	height: 60px;
}
.sidebar_menu .logo a{
	position: absolute;
	left: 100px ;
	color: white;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;

}
.sidebar_menu .menu{
	position: absolute;
	color: white;
	width: 100%;
	top: 60px;
}
.sidebar_menu .btn_two i {
	color:rgb(236, 231, 231);
	 font-size: 25px;
	 line-height: 100px;
	 left: 250px;
	 position: absolute;
	 line-height: 16px;
	 top: 20px;
	 opacity: 0; 
	 cursor: pointer;
}
.sidebar_menu .menu li{
	margin-top: 15px;
	padding: 10px 40px;
}
 .sidebar_menu .menu i,a{
	text-decoration: none;
	color: white;
	font-size: 20px;
 }
 .sidebar_menu .menu i{
	padding-right: 20px;
 }
 .sidebar_menu .social_media{
	color: white;
	opacity: 0.5;
	position: absolute;
	left: 90px;
	bottom: 25px;
 }
 .sidebar_menu .social_media i{
	padding: 4px;
	opacity: 0.9;
 }
 #check{
	display: none;
 }
 .sidebar_menu .menu li:hover{
	box-shadow: 0px 0px 10px rgb(255, 255, 255,0.5);
 }

 .btn_one i:hover{
   font-size: 35px;
   transition: all 0.3s linear;
 }
  .btn_two i:hover{
   font-size: 30px;
 }
 .sidebar_menu .social_media :hover{
	 opacity: 1;
	 transform: scale(1.3);
 }
 #check:checked~.sidebar_menu{
	left:0;
 }
 #check:checked ~ .btn_one i{
	opacity: 0;
 }
 #check:checked ~.sidebar_menu .btn_two i{
	opacity: 1;
 }