.container{
	height : 250px ;
	width: 200px ;
	border: 2px solid black;
	display: inline-block;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 2px 2px 10px green;
}
img{
	width: 100%;
	border-radius: 2px;
}
.desc{
	padding-left: 40px;
}
.container:hover{
	box-shadow: 4px 4px 16px goldenrod;
}