h1{
	color: magenta;
	text-align: center;
	font-weight: normal;
	/* text-decoration: line-through; */
	text-decoration-color: black;

}
button{
	background-color: blue;
	color: white;
	text-align:  center;
}
p{
	background-color: black;
	color: white;
	text-align: center;
	font-weight: 700;
	line-height: 2.0;
	letter-spacing: 3px;
	font-size: 15px;
	font-family: cursive;
}
a{
	text-decoration:  none;

}
h2{
	font-family: league spartan;
	color: #ffa511;
	text-align: center;
	font-size :55px;
	font-weight: 900;
	letter-spacing: 2px;
	line-height: 1.5;
	text-decoration :teal double underline;
	text-transform: uppercase;


}