.container{
	height: 250px;
	width: 60%;
	background-color: rgb(187, 169, 169);
	display: grid;
	/* grid-template-columns : 100px 50px 100px 100px ;
	 */
	 grid-template-rows: repeat(5,1fr);
	 grid-template-columns: repeat(5,4fr);
	grid-gap: 10px 10px;
}
.item{
	/* height: 40px;
	width: 60px; */
	border: 2px solid black;
	background-color: rgb(67, 223, 67);
	text-align: center;
}