.container{
	height: 300px;
	width: 80%;
	background-color: aliceblue;
	margin: 10px auto;
	border: 2px solid black;
	text-align: center;
	display: flex;   
	flex-direction: row;
	justify-content:flex-start ;
	 flex-wrap: wrap;
	 /* align-items: baseline	; */ 
	 align-content: space-between;
}
h1{
	text-align: center;
}
.container div{
	height: 40px;
	width: 300px;
	font-size: large;
}