body{
	 font-family: "Montserrat", sans-serif;
	 margin: 0;
	 background-color: black;
	 color: white;
	 overflow: hidden;
}
.main{
	display: flex;
	height: calc(100vh - 72px); 
	padding: 0.5rem;
}

.main-content{
	background-color: #121212;
	flex: 1;
	border-radius: 1rem;
	overflow: auto;
	/* min-width: 0; */
	padding: 0 1.5rem 0 1.5rem; /* ADDED: required for flexbox to prevent disappearing */
}

.slidebar{
	background-color:black;
	width: 340px;
	border-radius: 1rem; 
   	margin-right: 0.5rem;
	overflow: hidden; /*1rem = 16px */
	
}
.music-player{
	background-color:black;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 72px;
	z-index: 10; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* ADDED: ensures footer stays above content */
}

.nav-option a{
 text-decoration: none;
 color: white;
}
.nav{
	background-color: #121212;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content:center ;
	height: 100px;
	padding: 0.5rem 0.7rem;
}
.nav-option{
	line-height: 2.5rem;
	opacity: 0.7;
	padding: 0.5rem 0.7rem; 

}
.nav-option i{
	font-size: 1.25rem;
}
.nav-option a{
	font-size: 1rem;
	margin-left: 1rem;
}
.nav-option:hover{
	opacity: 1;

}
.library{
	background-color: #121212;
	border-radius: 1rem;
	height: 100%;  
	margin: 0.3rem;
	padding: 0.5rem 0.7rem;
	
}
.option{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.icons{
	font-size: 1rem;
	display: flex;
}
.icons i{
	opacity: 0.6;
	margin-left: 1.5rem;
}
.icons:hover{
	opacity: 1;
}
.box{
	height: 9rem;
	background-color: #232323;
	border-radius: 1rem;
	margin: 0.5rem 0rem 0.9rem 0rem;
	padding: 0.5rem 0.25rem;

}
.box-p1{
	font-size: 1rem;
	font-weight: 600;
}
.box-p2{
	font-size: 0.9rem;
	opacity: 0.8;
}
.badge{
	background-color: white;
	border: none;
	border-radius: 100px;
	padding: 0.25rem 1.3rem;
	font-weight: 700;
	margin:0.8rem ;
	height: 2rem;
	width: fit-content;
}
.sticky-nav{
	position: sticky;
	top: 0;
	background-color: #121212;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0 0.5rem 0;z-index: 10;

}
.nav-icons img{
	height: 2rem;
	width: 2rem;
}
.nav-icons{
	margin-left: 0.5rem;
}
.sticky-nav-option{
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.sticky-nav-option button{
        margin-right: 0.5rem;
}
.nav-item{
		margin-right: 1rem;
}
.dark-badge{
	background-color: black;
	color: white;
}
@media (max-width:1000px){
	.hide{
		display: none;
	}
}
.card-container{
	display: flex;
	flex-wrap: wrap;

}
.card{
	width: 300px;
	background-color:#232323;
	border-radius: 0.5rem;
	padding: 1rem ;
	margin-left: 1rem;
	margin-top: 1rem;

}
.card:hover{
	opacity: 1;
	transform: scale(1.02);
}
.card-img{
	width: 100%;
	border-radius: 0.5rem;
}
.card-title{
	font-weight: 600;
	font-size: 1.2rem;

}
.card-info{
	font-size: 0.85rem;
	opacity: 0.8;
}
.footer{
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.line{
	width: 90%;
	height: 50%;
	border-top: 1px solid white;
	opacity: 0.4;
}
.album{
	width: 25%;
	
}
.players{
	width: 50%;
	
}
.control{
	width: 25%;

}
.players-control-icon{
	height: 1.2rem;
	margin-left: 2rem;
	opacity: 0.7;
	
}
.playback-bar{
	display: flex;
	justify-content: center;
	align-items: center;

}
.progress-bar{
	width: 70%;
	appearance: none;
	background-color: transparent;
	cursor: pointer;

}
.players-control-icon:hover{
	opacity: 1;
}
.players-control{
    display: flex;
	justify-content: center;
	align-items: center;
}
.control-icons{
	height: 1rem;
}
.progress-bar::-webkit-slider-runnable-track{
	background-color: rgb(255, 236, 201);
	border-radius: 100px;
	height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb{
	appearance: none;
	height:16px;
	width: 16px;
	background-color: #1bd760;
	border-radius: 50%;
	margin-top: -5.8px;
}
.control-icons{
		height: 1.2rem;
	opacity: 0.7;
	color: #ff0000;
}
.control{
	display: flex;
	 /* justify-content: right;  */
	align-items: center; 
	/* padding: 20px; */
	justify-content: space-between;
	margin-right: 3.4rem;
}